# Ignore virtual environment folder
venv/

# Python bytecode
*.py[cod]
__pycache__/

# Django database
*.sqlite3

# Environment variables
.env

# Static files (optional, if generated dynamically)
static/

# Ignore Git metadata
.git
